.header{
  height: 70px;
  background-color: #8fd4dd;
}
.login{
  height: 70px;
  background-color: #8fd4dd;
}
html{
  height: 100% !important;
}
body{
  height: 100% !important;
  margin: 0px auto;
  background: url('http://www.picshare.ru/uploads/180224/4BxAQEG7lV.png') no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}
.content{
  width: 50%;
  background-color: white;
  margin: 0px auto;
}
.container{
  height: 100%;
  width: 100%;
}
.logo{
  width: 40%;
  text-align: center;
  float: left;
}
.text_animal{
  font-family: 'Comfortaa', cursive;
  text-align: center;
  padding: 2%;
  font-size: 211%;
  color: #265259;
}
.text_bacoad{
  font-family: 'Comfortaa', cursive;
  text-align: center;
  padding: 2%;
  font-size: 150%;
  color: #265259;
}
.text_box{
  height: 80%;
  width: 80%;
  padding: 10%;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: white;
  border-left-color: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(112,157,171);
  box-shadow: 0 -3px rgb(88,121,133) inset;
  transition: 0.2s;
} 
.button7:hover {background: #8fd4dd;}
.button7:active {
  background: rgb(112,157,171);
  box-shadow: 0 3px rgb(88,121,133) inset;
}