<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Checkout example for Bootstrap</title>

    <link rel="stylesheet" href="bootstrap.min.css"  type="text/css">
    <link rel="stylesheet" href="form-validation.css" type="text/css">
  </head>

  <body class="bg-light" style="width: 11%">

    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2 style="margin-right: 500px;">Checkout form</h2>
        
      </div>


            <form>
            <div class="mb-3" style="width: 40%">
              <label for="nick-name">Придумайте ник<span class="text-muted"></span></label>
              <input type="text" class="form-control" id="nick-name" placeholder="Enter your nick-name">
            </div>



            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="country">Кто вы?</label>
                <select class="custom-select d-block w-100" id="country" required>
                  <option value="">Choose...</option>
                  <option>Заводчик</option>
                  <option>Пользователь</option>
                  <option>Приют</option>
                </select> </div> </div>


            <div class="mb-3">
              <label for="first-name">Введите имя<span class="text-muted"></span></label>
              <input type="text" class="form-control" id="first-name" placeholder="first-name">
            </div>


            <div class="mb-3">
              <label for="second-name">Введите фамилию<span class="text-muted"></span></label>
              <input type="text" class="form-control" id="second-name" placeholder="second-name">
            </div>

      
            <div class="mb-3">
              <label for="email">Email <span class="text-muted"></span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="mb-3">
              <label for="password">Введите пароль</label>
              <input type="text" class="form-control" id="password" placeholder="Enter password" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="mb-3">
              <label for="password2">Подтвердите пароль<span class="text-muted"></span></label>
              <input type="text" class="form-control" id="password2" placeholder="Password confirmation">
            </div>

            <button style="width: 325px">Send</button>
              </form>
              
           

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="popper.min.js"></script>
    <script src="C:\Users\ksenk\PycharmProjects\bacoad\index\templates\bootstrap.min.js"></script>
    <script src="C:\Users\ksenk\PycharmProjects\bacoad\index\templates\bootstrap-4.0.0-alpha.6\docs\assets\js\vendor\holder.min.js"></script>
    </div>
  </body>
</html>
