<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавлние питомца</title>
</head>
<body>
    <form action="/index/adding/" method="post" enctype="multipart/form-data">
        <p>тип</p>
        <input type="text" name="type">
        <p>breed</p>
        <input type="text" name="breed">
        <p>Фото</p>
        <input type="file" name="photo">
        <p>city</p>
        <input type="text" name="city">
        <p>price</p>
        <input type="text" name="price">
        <p>age</p>
        <input type="text" name="age">
        <p>sex</p>
        <input type="text" name="sex">
        <p>competition</p>
        <input type="checkbox" name="competition">
        <p>size</p>
        <input type="text" name="size">
        <p>owner</p>
        <input type="text" name="owner">
        <p>passport</p>
        <input type="checkbox" name="passport">
        <input type="submit" value="Search">
    </form>
</body>
</html>